.custom-navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  z-index: 1050;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dee2e6;
  border-top: none;
}

.custom-logo {
  width: 200px; /* Tamaño base */
  height: auto;
}

/* Tablet */
@media (min-width: 768px) {
  .custom-logo {
    width: 200px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .custom-logo {
    width: 200px;
  }
}

/* Desktop grande */
@media (min-width: 1200px) {
  .custom-logo {
    width: 220px;
  }
}

/* Para móviles muy pequeños */
@media (max-width: 480px) {
  .custom-logo {
    width: 120px;
  }
}

@media (min-width: 992px) {
  .custom-navbar-collapse {
    position: static;
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
